.page-socials {
  display: flex;

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item:not(:first-child) {
    margin-left: 30px;
  }
}

.icon--facebook {
  width: 11px;
  height: 20px;
}

.icon--instagram {
  width: 20px;
  height: 20px;
}

.icon--pinterest {
  width: 21px;
  height: 20px;
}

.icon--twitter {
  width: 21px;
  height: 17px;
}