<article class="
    card-item
{{#if big }}
    card-item--big
{{/if}}">
    <a class="card-item__link" href="{{ link }}"></a>
    <div class="card-item__img">
        {{> components/image
                img=card-image
                img-tablet=card-image-tablet
                img-mobile=card-image-mobile
                ext="jpg"}}
    </div>
    <h3 class="card-item__name">{{ name }}</h3>
    {{#if price }}
        <p class="card-item__price">$ {{ price }}</p>
    {{/if}}
</article>
