<div class="catalog-card">    
  <a class="catalog-card__link"></a>
  <div class="catalog-card__content">
    <div class="catalog-card__img">
      {{> components/image img="{{ image }}" ext="jpg"}}
    </div>
    <h3 class="catalog-card__name">{{ name }}</h3>
    <p class="catalog-card__price">$ {{ price }}</p>
  </div>
</div>