<div class="category-card">
    <a class="category-card__link" href="{{ link }}"></a>
    <div class="category-card__content">
        <div class="category-card__img">
            {{> components/image img=card-image ext="jpg"}}
        </div>
        <h3 class="category-card__name">{{ name }}</h3>
    </div>
</div>
