<section class="intro-banner">
    <div class="container">
        <div class="intro-banner__content">
            <div class="intro-banner__bread-crumbs">
                {{> blocks/page-breadcrumbs }}
            </div>
            <h2 class="intro-banner__title">Denim Collection<br>
                Fall 2019</h2>
        </div>
        <div class="intro-banner__background">
            {{> components/image img="catalog/00_catalog" ext="png"}}
        </div>
    </div>
</section>