.section {
  padding: 130px 0;
  color: $color-dark;

  @include media(tablet) {
    padding: 100px 0;
  }

  @include media(mobile) {
    position: relative;
    padding: 60px 0 118px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media(mobile) {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    
    @include media(mobile) {
      font-size: 26px;
      width: 100%;
      text-align: left;
    }
  }

  &__view-all {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px 8px;

    @include media(mobile) {
      position: absolute;
      bottom: 60px;
      margin: 0 auto;
      text-align: center;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background: $color-dark;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 30px;
    margin-top: 70px;

    @include media(tablet) {
      grid-template-columns: repeat(2, 324px);
      grid-row-gap: 50px;
      margin-top: 60px;
    }

    @include media(mobile) {
      grid-template-columns: repeat(2, 130px);
      grid-row-gap: 30px;
      margin-top: 35px;
    }
  }

  &--catalog {

    .section__content {
      margin-top: 0;
      display: block;
    }

    @include media(mobile) {
      padding-top: 117px;
    }
  }

  &--category {

    @include media(tablet) {

      .section__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 765px;
      }

      .card-item:nth-child(3) {
        order: 1;
      }

      .card-item:nth-child(2) {
        order: 1;
      }
    }

    @include media(mobile) {

      .section__content {
        max-height: 400px;
      }
    }
  }
}