.section {
  padding: 130px 0;
  color: $color-dark;

  @include media(tablet) {
    padding: 100px 0;
  }

  @include media(mobile) {
    padding: 60px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
  }

  &__view-all {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px 8px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background: $color-dark;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-gap: 30px;
    margin-top: 70px;

    @include media(tablet) {
      grid-template-columns: repeat(2, 324px);
      grid-row-gap: 50px;
      margin-top: 60px;
    }

    @include media(mobile) {
      grid-template-columns: repeat(2, 130px);
      grid-row-gap: 30px;
      margin-top: 40px;
    }
  }

  &--catalog {
    .section__content {
      margin-top: 0;
      display: block;
    }
  }
}