<section class="home-banner">
    <div class="container">
        <div class="home-banner__content">
            <div class="home-banner__left">
                {{> components/image
                  img="home/07_home"
                  ext="jpg" }}
            </div>
            <div class="home-banner__right">
                <div class="home-banner__info">
                    <p class="home-banner__description">Street fashion collection</p>
                    <h2 class="home-banner__title">Fall 2019</h2>
                    <div class="home-banner__button">
                        <button class="btn">Shop now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>