.catalog-card {
  position: relative;
  width: 100%;
  max-width: 270px;
  color: $color-dark;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__content, &__img {
    width: 100%;
  }

  &__name {
    margin-top: 25px;
    font-weight: 500;
    font-size: 18px;
    height: 13px;
  }

  &__price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
    height: 11px;
  }
}