</main>

<footer class="footer page__footer">
  <div class="container">
    <div class="footer__logo">Nîmes</div>
    <ul class="footer__list">
      <li class="footer__list-item">
        <a href="#" class="footer__link">Shop</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Delivery</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Service</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Sitemap</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Contacts</a>
      </li>
    </ul>
    <ul class="footer__social">
      <li class="footer__social-item">
        <a href="#" class="footer__sicial-link">
          <img src="" alt="">
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__sicial-link">
          <img src="" alt="">
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__sicial-link">
          <img src="" alt="">
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__sicial-link">
          <img src="" alt="">
        </a>
      </li>
    </ul>
  </div>
</footer>

</div>

{{> layout/bottom}}
