</main>

<footer class="footer page__footer">
  <div class="container">
    <div class="footer__logo">
        {{#if home-page }}
            {{> blocks/page-logo home-page=""}}
        {{else}}
            {{> blocks/page-logo }}
        {{/if}}
    </div>
    <ul class="footer__list">
      <li class="footer__list-item">
        <a href="#" class="footer__link">Shop</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Delivery</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Service</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Sitemap</a>
      </li>
      <li class="footer__list-item">
        <a href="#" class="footer__link">Contacts</a>
      </li>
    </ul>
    <div class="footer__social">
        {{> blocks/page-socials }}
    </div>
  </div>
</footer>

</div>

{{> layout/bottom}}
