<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="page-header__menu">
        <nav class="header-menu">
          <ul class="header-menu__list">
            <li class="header-menu__item">
              <a href="" class="header-menu__link"></a>
            </li>
            <li class="header-menu__item">
              <a href="" class="header-menu__link"></a>
            </li>
            <li class="header-menu__item">
              <a href="" class="header-menu__link"></a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="page-header__brand">
        <div class="page-logo"></div>
      </div>
      <div class="page-header__actions header-actions">
        <ul class="header-actions__list">
          <li class="header-actions__item">
            <button class="header-actions__btn"></button>
          </li>
          <li class="header-actions__item">
            <button class="header-actions__btn"></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<main class="page__content">
