<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="page-header__menu">
        {{> common/header-menu }}
      </div>
      <div class="page-header__brand">
        {{> blocks/page-logo }}
      </div>
      <div class="page-header__actions">
        {{> blocks/header-actions }}
        {{!-- {{> widgets/card image="main page/Rectangle 3.2" name="Jacket" price="120"}} --}}
      </div>
    </div>
  </div>
</header>

<main class="page__content">
