<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="page-header__menu">
        {{> common/header-menu items=header-menu}}
      </div>
      <div class="page-header__brand">
          {{#if home-page }}
              {{> blocks/page-logo home=" " }}
          {{else}}
              {{> blocks/page-logo }}
          {{/if}}
      </div>
      <div class="page-header__actions">
        {{> blocks/header-actions }}
      </div>
    </div>
  </div>
</header>

<main class="page__content">
