.home-banner {

  @include media(mobile) {
    .container {
      width: 100%;
      padding: 0;
    }
  }

  &__content {
    display: flex;

    @include media(mobile) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    position: relative;
    z-index: 0;
    overflow: hidden;
    max-width: 700px;

    &::after {
      content: "";
      display: block;
      padding-top: 99%;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .3s all
    }

    @include media(tablet) {
      max-width: 384px;
    }
  }

  &__right {
    padding: 31px 70px 31px 0;
    background: url($images_dir + "home/02_home.svg") no-repeat center/cover;

    @include media(tablet) {
      padding: 20px 20px 20px 0;
    }

    @include media(mobile) {
      padding: 15px 15px 0 15px;
    }
  }

  &__info {
    padding: 70px 112px 70px 70px;
    background: $color-gray;

    @include media(tablet) {
      padding: 50px 36px 50px 50px;
    }

    @include media(mobile) {
      padding: 40px 36px;
      text-align: center;
    }
  }

  &__description {
    font-size: 18px;
    color: $color-gray-text;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;

    @include media(tablet) {
      margin-top: 5px;
    }
  }

  &__button {
    margin-top: 22px;
  }
}