.page {

  &__banner {
    padding-bottom: 50px;
    background: $color-gray;

    .container {
      position: relative;
    }

    &-content {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      max-width: 835px;
      margin: 0 auto;

      &::before {
        content: "";
        position: absolute;
        bottom: -50px;
        right: -50px;
        width: 232px;
        height: 176px;
        background: url($images_dir + "home/02_home.png") no-repeat center/cover;
      }
    }

    &-description {
      font-size: 18px;
      color: $color-gray-text;
    }

    &-title {
      margin-top: 25px;
      font-size: 128px;
      font-family: 'Anton', sans-serif;
      color: $color-dark;
    }

    &-button {
      margin-top: 50px;
    }

    &-photo {
      position: relative;
      max-width: 480px;
      width: 100%;
      height: 567px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 232px;
        height: 176px;
        background: url($images_dir + "home/01_home.png") no-repeat center/cover;
      }
    }

    &-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      padding: 50px 0 0 50px;
      z-index: 2;
    }

    &-footer {
      color: $color-dark;
    }

    &-down {
      position: absolute;
      bottom: 0;
      left: 30px;
    }

    &-socials {
      position: absolute;
      bottom: 0;
      right: 30px;
      font-size: 14px;
      font-weight: 500;

      &-item:not(:first-child) {
        margin-top: 35px;
      }
    }
  }
}