.product-card {
  padding-top: 55px;

  @include media(tablet) {
    padding-top: 36px;
  }

  .container {
    padding-left: 0;
    max-width: 1268px;
  }

  &__content {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;

    @include media(tablet) {

    }
  }

  &__photos {
    position: relative;
    display: flex;

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 85px);
      grid-template-rows: 523px 113px;
      grid-gap: 20px;
      padding: 0 60px;

      @include media(tablet) {
        grid-template-columns: repeat(2, 151px);
        grid-template-rows: 360px 99px 99px;
        grid-gap: 22px;
        padding: 0;
      }
    }

    &-item {

      &-big {
        grid-column-start: 1;
        grid-column-end: 5;

        @include media(tablet) {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }
  }

  &__prev-photo {
    position: absolute;
    top: 194px;
    left: 0;
    width: 10px;
    height: 21px;

    @include media(tablet) {
      display: none;
    }
  }

  &__next-photo {
    position: absolute;
    top: 194px;
    right: 0;
    width: 10px;
    height: 21px;

    @include media(tablet) {
      display: none;
    }
  }
  
  &__info {
    width: 100%;
    margin-left: 60px;
    max-width: 668px;
    padding: 70px;
    background: $color-gray;

    @include media(tablet) {
      margin-left: 30px;
      padding: 50px 47px;
      max-width: 369px;
    }
  }

  &__name {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
  }

  &__description {
    font-size: 16px;
    margin-top: 40px;
    max-width: 370px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
  }

  &__colors {
    margin-top: 50px;

    &-list {
      display: flex;
      margin-top: 25px;
      padding: 3px 0;
    }

    &-item:not(:first-child) {
      margin-left: 30px;
    }

    &-label {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  &__sizes {
    margin-top: 40px;

    &-list {
      display: flex;
      margin-top: 25px;
    }

    &-item:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__price {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
  }

  &__add {
    margin-top: 50px;
  }
}

.color1 {
  background: #B0C3C7;
}

.color2 {
  background: #3B6392;
}

.color3 {
  background: #BFC3C8;
}

.icon--prev, .icon--next {
  width: 10px;
  height: 21px;
}