.product-card {

  &__content {
    display: flex;
    padding-left: 98px;
    width: 100%;
    max-width: calc(1268px + 98px);
    margin: 0 auto;
  }

  &__photos {
    position: relative;
    display: flex;

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 85px);
      grid-template-rows: 523px 113px;
      grid-gap: 20px;
      padding: 0 60px;
    }

    &-item {

      &-big {
        grid-column-start: 1;
        grid-column-end: 5;
      }
    }
  }

  &__prev-photo {
    position: absolute;
    top: 194px;
    left: 0;
    width: 10px;
    height: 21px;
  }

  &__next-photo {
    position: absolute;
    top: 194px;
    right: 0;
    width: 10px;
    height: 21px;
  }
  
  &__info {
    width: 100%;
    margin-left: 60px;
    max-width: 668px;
    padding: 70px 70px 184px;
    background: $color-gray;
  }

  &__name {
    font-size: 32px;
    font-weight: bold;
  }

  &__description {
    font-size: 16px;
    margin-top: 40px;
    max-width: 370px;
  }

  &__text {
    font-size: 18px;
    font-weight: 500;
  }

  &__colors {
    margin-top: 50px;

    &-list {
      display: flex;
      margin-top: 25px;
      padding: 3px 0;
    }

    &-item:not(:first-child) {
      margin-left: 30px;
    }

    &-label {
      width: 16px;
      height: 16px;
      border-radius: 50%;
    }
  }

  &__sizes {
    margin-top: 40px;

    &-list {
      display: flex;
      margin-top: 25px;
    }

    &-item:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__price {
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
  }
}

.color1 {
  background: #B0C3C7;
}

.color2 {
  background: #3B6392;
}

.color3 {
  background: #BFC3C8;
}