{{!Product card}}

{{> layout/head page-title="Product card"}}

{{> layout/header }}

<section class="product-card">
  <div class='container'>
    <div class="product-card__content">
        <div class="product-card__photos">
            <button class="product-card__prev-photo">
                {{>ui/svg name="prev"}}
            </button>
            <ul class="product-card__photos-list">
                <li class="product-card__photos-item product-card__photos-item-big">
                    {{> components/image
                      img="product-card/00_product-card"
                      img-tablet="product-card/00_product-card-tablet"
                      img-mobile="product-card/00_product-card-mobile"
                      ext="jpg" }}
                </li>
                <li class="product-card__photos-item">
                    {{> components/image
                      img="product-card/01_product-card"
                      img-tablet="product-card/01_product-card-tablet"
                      img-mobile="product-card/01_product-card-mobile"
                      ext="jpg" }}
                </li>
                <li class="product-card__photos-item">
                    {{> components/image
                      img="product-card/02_product-card"
                      img-tablet="product-card/02_product-card-tablet"
                      img-mobile="product-card/02_product-card-mobile"
                      ext="jpg" }}
                </li>
                <li class="product-card__photos-item">
                    {{> components/image
                      img="product-card/03_product-card"
                      img-tablet="product-card/03_product-card-tablet"
                      img-mobile="product-card/03_product-card-mobile"
                      ext="jpg" }}
                </li>
                <li class="product-card__photos-item">
                    {{> components/image
                      img="product-card/04_product-card"
                      img-tablet="product-card/04_product-card-tablet"
                      img-mobile="product-card/04_product-card-mobile"
                      ext="jpg" }}
                </li>
            </ul>
            <button class="product-card__next-photo">
                {{>ui/svg name="next"}}
            </button>
        </div>
        <div class="product-card__info">
            <h2 class="product-card__name">Overalls</h2>
            <p class="product-card__description">Overalls in washed organic cotton denim. Collar, button fly, and adjustable belt at waist. Chest pockets with flap. Long, gently flared sleeves and straight legs with front pockets and back pockets.</p>
            <div class="product-card__colors">
                <p class="product-card__text">Color</p>
                <div class="product-card__colors-list">
                    <input class="product-card__colors-item" id="color1"
                           name="color" type="radio" value="1" checked>
                    <label class="product-card__colors-label color1" for="color1"></label>
                    <input class="product-card__colors-item" id="color2"
                           name="color" type="radio" value="2">
                    <label class="product-card__colors-label color2" for="color2"></label>
                    <input class="product-card__colors-item" id="color3"
                           name="color" type="radio" value="3">
                    <label class="product-card__colors-label color3" for="color3"></label>
                </div>
            </div>
            <div class="product-card__sizes">
                <p class="product-card__text">Size</p>
                <div class="product-card__sizes-list">
                    <input class="product-card__sizes-item" id="size1"
                           name="size" type="radio" value="1">
                    <label class="product-card__sizes-label" for="size1">XS</label>
                    <input class="product-card__sizes-item" id="size2"
                           name="size" type="radio" value="2" checked>
                    <label class="product-card__sizes-label" for="size2">S</label>
                    <input class="product-card__sizes-item" id="size3"
                           name="size" type="radio" value="3">
                    <label class="product-card__sizes-label" for="size3">M</label>
                    <input class="product-card__sizes-item" id="size4"
                           name="size" type="radio" value="4">
                    <label class="product-card__sizes-label" for="size4">L</label>
                    <input class="product-card__sizes-item" id="size5"
                           name="size" type="radio" value="5">
                    <label class="product-card__sizes-label" for="size5">XL</label>
<!--                    <li class="product-card__sizes-item">XS</li>-->
<!--                    <li class="product-card__sizes-item">S</li>-->
<!--                    <li class="product-card__sizes-item">M</li>-->
<!--                    <li class="product-card__sizes-item">L</li>-->
<!--                    <li class="product-card__sizes-item">XL</li>-->
                </div>
            </div>
            <p class="product-card__price">$ 160</p>
            <div class='product-card__add'>
              <button class='btn'>Add to cart</button>
            </div>
        </div>
    </div>
  </div>
</section>

{{#>common/section title="You may also like"}}
    {{> widgets/card-item link="#"
      card-image="product-card/05_product-card"
      card-image-tablet="product-card/05_product-card"
      card-image-mobile="product-card/05_product-card"
      name="Overalls"
      price="140"}}
    {{> widgets/card-item link="#"
      card-image="product-card/06_product-card"
      card-image-tablet="product-card/06_product-card"
      card-image-mobile="product-card/06_product-card"
      name="Overalls"
      price="110"}}
    {{> widgets/card-item link="#"
      card-image="product-card/07_product-card"
      card-image-tablet="product-card/07_product-card"
      card-image-mobile="product-card/07_product-card"
      name="Jacket"
      price="70"}}
    {{> widgets/card-item link="#"
      card-image="product-card/08_product-card"
      card-image-tablet="product-card/08_product-card"
      card-image-mobile="product-card/08_product-card"
      name="Jacket"
      price="60"}}
{{/ common/section }}

{{> layout/footer }}
