.footer {
  position: relative;
  padding: 50px 0;
  color: #FFFFFF;
  background: #151C22;

  .container {
    text-align: center;
  }

  &__logo {
    font-size: 24px;
    font-weight: 900;

    @include media(mobile) {
      position: absolute;
      top: 46px;
    }
  }

  &__list {
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    font-size: 18px;

    @include media(mobile) {
      flex-wrap: wrap;
      margin: 0;
    }

    &-item {

      &:not(:first-child) {
        margin-left: 35px;

        @include media(mobile) {
          margin-left: 0;
          margin-top: 30px;
        }
      }

      &:first-child {

        @include media(mobile) {
          margin-left: 50%;
        }
      }

      @include media(mobile) {
        text-align: left;
        flex-basis: 50%;
      }

    }

  }

  &__social {
    display: flex;
    justify-content: center;
    margin: 35px auto 0;

    @include media(mobile) {
      justify-content: flex-start;
    }
  }

}