.page-header {
  padding: 25px 0;

  &__content {
    position: relative;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__brand {
    margin: 0 auto;
  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
  }
}