.page-header {
  padding: 20px 0;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__menu {
    position: absolute;
    left: 0;
  }

  &__brand {
    margin: 0 auto;
  }

  &__actions {
    position: absolute;
    right: 0;
  }

  &__burger {
    position: absolute;
    display: none;

    @include media(mobile) {
      display: block;
    }

    &-btn {
      position: relative;
      display: block;
      padding: 5px 0;

      span {
        display: block;
        width: 20px;
        height: 2px;
        background: $color-dark;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 2px;
        background: $color-dark;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 20px;
        height: 2px;
        background: $color-dark;
      }
    }
  }
}