.page-header {
  padding: 20px 0;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__menu {
    position: absolute;
    left: 0;
  }

  &__brand {
    margin: 0 auto;
  }

  &__actions {
    position: absolute;
    right: 0;
  }
}