<nav class="header-menu">
  <ul class="header-menu__list">
    <li class="header-menu__item">
      <a href="" class="header-menu__link">Woman</a>
    </li>
    <li class="header-menu__item">
      <a href="" class="header-menu__link">Man</a>
    </li>
    <li class="header-menu__item">
      <a href="" class="header-menu__link">New</a>
    </li>
  </ul>
</nav>