<nav class="
header-menu
{{#if home }}
    header-menu--home
{{/if}}">
  <ul class="header-menu__list">
    {{#each items}}
      <li class="header-menu__item">
        <a href="{{this.href}}" class="header-menu__link">{{this.text}}</a>
      </li>
    {{/each}}
  </ul>
</nav>