<div class="page-breadcrumbs">
    <ul class="page-breadcrumbs__list">
        <li class="page-breadcrumbs__item">
            <a href="#" class="page-breadcrumbs__link">All categories</a>
        </li>
        <li class="page-breadcrumbs__item">
            <a href="#" class="page-breadcrumbs__link">Woman</a>
        </li>
        <li class="page-breadcrumbs__item">
            <a href="#" class="page-breadcrumbs__link">Jackets</a>
        </li>
    </ul>
</div>
