//Container Width
$desktopWidth: 1170px;
$tabletWidth: 678px;
$mobileWidth: 290px;

//Media query
$tabletMedia: 1279px;
$mobileMedia: 767px;

//Container gutter
$desktopGutter: 30px;
$tabletGutter: 45px;
$mobileGutter: 15px;

//Grid gutter
$gridGutter: 10px;
