<div class="catalog-pagination">
    <p class="catalog-pagination__text">Showing 9 of 45 items</p>
    <div class="catalog-pagination__button">
        <button class="btn">Load more</button>
    </div>
</div>