<div class="page-socials">
    <ul class="page-socials__list">
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                {{>ui/svg name="facebook"}}
            </a>
        </li>
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                {{>ui/svg name="instagram"}}
            </a>
        </li>
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                {{>ui/svg name="icon"}}
            </a>
        </li>
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                {{>ui/svg name="twitter"}}
            </a>
        </li>
    </ul>
</div>
