<div class="page-socials">
    <ul class="page-socials__list">
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                <img class="page-socials__icon" src="" alt="">
            </a>
        </li>
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                <img class="page-socials__icon" src="" alt="">
            </a>
        </li>
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                <img class="page-socials__icon" src="" alt="">
            </a>
        </li>
        <li class="page-socials__item">
            <a href="#" class="page-socials__link">
                <img class="page-socials__icon" src="" alt="">
            </a>
        </li>
    </ul>
</div>
